* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins';
    margin: 25px;
    background-color: darkslateblue;
}

header {
    font-family: 'Poppins';
    color: whitesmoke;
}

navigation {
    display: block;
    position: relative;
    width: 100%;
    float: right;
    margin-bottom: 85px;
}

.nav-sign-up {
    text-decoration: none;
    color: whitesmoke;
    float: right;
    font-weight: bold;
}

.nav-log-in {
    text-decoration: none;
    color: whitesmoke;
    float: right;
    margin-right: 20px;
    font-weight: bold;
}

h1 {
    display: inline;
    font-size: 35px;
}

.h3 {
    margin-top: 35px;
}

.homepage-sleep-info {
    background-color: #226;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* nav bar */
.entry-nav {
    color: whitesmoke;
    margin-top: 0px;
    position: relative;
}

.nav-logout {
    text-decoration: none;
    color: whitesmoke;
    /* margin-bottom: 10px; */
    /* margin-left: 80px; */
    float: right;
    /* margin-top: 21px; */
}

.logger {
    display: inline-block;
    margin-left: 20px;
}

.sleep-info {
    font-family: 'Antic Slab';
    font-size: 1em;
    color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 100px;
}

.health-img {
    width: 50px;
    height: 50px;
    margin-bottom: 22px;
}

.sign-up {
    padding-bottom: 100px;
}

.new-entry {
    background-color: #226;
    margin: 0px auto;
    color: whitesmoke;
    position: absolute;
    width: 100%;
    left: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-top: 40px;
}

#hoursOfSleep, #describeSleep {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    padding-bottom: 3px;
    border-style: none;  
    background-color: #226;
    border-bottom: 1px solid whitesmoke;
    font-size: 17px;
    font-family: 'Poppins';
    color: whitesmoke;
}

.sleep-logs-list {
    margin: 0px auto;
    color: whitesmoke;
}

.previous-entries-header {
    color: whitesmoke;
    margin-top: 35px;
    margin-bottom: 70px;
}

.log-container {
    display: block;
    width: 100%;
    margin-top: -35px;
    margin-bottom: 90px;
    font-size: 17px;
    color: whitesmoke;
}
/* size of inputs in new sleep entry and previous sleep entry */
.update-hours, .update-feeling, .update-description {
    /* width: 300px;
    height: 35px; */
    display: block;
    width: 100%;
    padding-bottom: 3px;
    border-style: none;
    background-color: darkslateblue;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    font-style: normal;
}

.description, #hoursOfSleep {
    margin-top: 8px;
    margin-bottom: 10px;
}

/* buttons */
.signup-button, .login-button {
    width: 75px;
    height: 35px;
    border-radius: 5px;
    font-size: 1em;
}

.update-log, .delete-log, .save-log, .cancel-log {
    margin-top: 15px;
    width: 47%;
    height: 35px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #9BDE82;
    color: whitesmoke;
    font-family: poppins;
}

.delete-log, .cancel-log {
    background-color: lightslategray;
    border-color: lightslategray;
}

.sign-up-here-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    width: 165px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Poppins';
    background-color: #9BDE82;
    color: whitesmoke;
}

/* cancel button */
.cancel-log {
    margin-left: 10px;
}

/* delete button */
.delete-log {
    margin-left: 15px;
}

/* used to move span tag further below */
.signup-button, .login-button {
    width: 100%;
    margin-bottom: 25px;
    background-color: #9BDE82;
    font-family: 'Poppins';
    color: whitesmoke; 
}

.submit-log {
    width: 100%;
    margin-bottom: 10px;
    background-color: #9BDE82;
    font-family: 'Poppins';
    color: whitesmoke; 
    height: 35px;
    border-radius: 5px;
    font-size: 1em;
}

.submit-log:hover, .update-log:hover, .delete-log:hover,
.sign-up-here-button:hover, .signup-button:hover, .login-button:hover {
    cursor: pointer;
}

.log-in, .createAccount {
    background-color: darkslateblue;
    margin: 0px;
    color: whitesmoke;
    margin-top: 100px;
}

/* input in new sleep entry */
.js-sleep-log,  {
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 0.95em;
}

.create-acct-header {
    color: whitesmoke;
}

.create-account {
    margin: 0px auto;

}

.login-here, .signup-here {
    color: whitesmoke;
}

#username, #existingUsername {
    margin-top: 25px;
}

#username, #password, #existingUsername, #existingPassword {
    display: block;
    width: 100%;
    border-style: none;
    background-color: darkslateblue;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1em;
}

#username:focus, #password:focus, #existingUsername:focus, #existingPassword:focus, 
#hoursOfSleep:focus, #describeSleep:focus, .update-hours:focus, .update-feeling:focus,
.update-description:focus {
    outline: none;
}

#username::placeholder, #password::placeholder, #existingUsername::placeholder, #existingPassword::placeholder {
    color: #eef;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Poppins';
}

#hoursOfSleep::placeholder, #describeSleep::placeholder {
    font-family: 'Poppins';
    font-style: italic;
    font-size: 1.06em;
    color: whitesmoke;
}

.update-hours, .update-feeling, .update-description {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.06em;
    color: whitesmoke;
}

.update-hours::placeholder, .update-feeling::placeholder,
.update-description::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 0.92em;
    color: whitesmoke;
}

/* distance beneath inputs */

#hoursOfSleep {
    margin-top: 35px;
}

#refreshed {
    margin-top: 10px;
}

#littleMore {
    margin-bottom: 30px;
}

/* update inputs */
.update-hours, .update-feeling, .update-description {
    margin-bottom: 8px;
}

.logout-button {
    text-decoration: none;
    color: whitesmoke;
}

header, .sleep-info, .sign-up {
    text-align: center;
}

label, .hours, .feeling, .description {
    font-family: 'Poppins';
    font-size: 1.06em;
}

label {
    margin-left: 15px;
}

.all-sleep-entries {
    margin-top: 550px;
}

.logIn {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 13px;
}

.log-in-header {
    margin-top: 30px;
    margin-bottom: 20px;
}

.createAccount {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 13px;
}

.create-acct-header {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* media queries */
@media all and (min-width: 400px) {
    .logIn {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        
    }

    .createAccount {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    
   .sleep-info {
       font-size: 1.1em;
       padding-left: 40px;
       padding-right: 40px;
   }
}

  @media all and (min-width: 1080px) {
      .sleep-info {
          display: inline-block;
          width: 256px;
          margin-left: 40px;
          margin-right: 40px;
          font-size: 1.1em;
          padding-left: 0px;
          padding-right: 0px;
      }

      .homepage-sleep-info {
          text-align: center;
          margin-top: 80px;
      }

      .heart {
        position: relative;
        bottom: 32px;
      }

      .heart-text {
          position: relative;
          bottom: 25px;
      }

      .clock {
          position: relative;
      }

      .clock-text {
          position: relative;
          top: 17px;
      }

      .journal {
          position: relative;
          bottom: 13px;
      }

      .journal-text {
          position: relative;
          bottom: 5px;
      }
  }

  @media all and (min-width: 1500px) {
      .sleep-info {
        width: 400px;
      }

      .heart {
        position: relative;
        bottom: 15px;
      }

      .heart-text {
        position: relative;
        top: -5px;
      }
  }